<!-- Countdown start -->
<div class="countdown">
    <div class="countdown__wrapper">
        <div class="countdown__title">
          <div class="countdown__timer">
          	<div class="countdown__timer-value countdown__timer-value_h">00</div>
          	<div class="countdown__timer-value countdown__timer-value_m">20</div>
          	<div class="countdown__timer-value countdown__timer-value_s">49</div>
          </div>
        	until competition ends
        </div>
        <div class="countdown__text">Vote to be eligible for flash pre-sale!</div>
    </div>
</div>
<!-- Countdown finish -->