<!-- Section tittle -->
<h1 class="title_h1">Thank you for becoming a lumumba designer</h1>
<!-- End Section tittle -->

<!-- Section Icon and small description become -->
<div class="wrapper">
  <center>
     <ul class="become__list">
        <li class="become__item_1">
           <div class="columns__content">
            <%= image_tag "welcome.svg"%>
                <h4 class="h_become_2"> Share your design </h4>
                <p class="p_become_1">Thank you for taking part in the lumumba design competition. To increase your chance of winning invite your gmail contacts or share your design on facebook.<p>
           </div>
        </li>
     </ul>
     <a id="floatRight" class="shareButtons" href="#" >
       <div class="button-social2 facebook">
         <i class="fa fa-facebook" aria-hidden="true"></i> <spam class="social-text">Sign up using facebook</spam>
       </div>
     </a>
     <a id="floatLeft" class="shareButtons" href="#" >
       <div class="button-social2 google">
         <i class="fa fa-google-plus" aria-hidden="true"></i> <spam class="social-text">Invite Gmail Contacts</spam>
       </div>
     </a>

   </center>
 </div>
<!-- End Section Icon and small description become -->