<!-- Button -->
<div class="buttons_design">
  <a  href="/designs" class="button button_blue button_become_left">
      <div class="button__text">Upload New Outfit</div>
  </a>
  <a href="/guide" class="button button_blue button_become_right">
      <div class="button__text">Competition Designer Guide</div>
  </a>
</div>
<!-- En Buttons Section -->