<!-- Button -->
<div class="buttons_design">
  <%= link_to "Upload New Outfit", designs_path, id: "new_design", class: "button button_blue button_become_left"%>
  <a href="./design_application.html" class="button button_blue button_become_right">
      <div class="button__text">Competition Designer Guide</div>
  </a>
</div>
<!-- En Buttons Section -->