<div class="columns__content">
   <h3 class="title_h3">Billing information</h3>
   <!-- Billing information start -->
   <div class="billing">
      <form class="form billing__form" action="#" method="post" accept-charset="utf-8">
         <p class="form__group"><label class="form__label form__label_required">Name on card</label><input class="form__input" type="text" name="name" value="Eduard Jubany Tur" placeholder="Full Name" required></p>
         <p class="form__group"><label class="form__label form__label_required">Billing address</label><input class="form__input" type="addr" name="name" value="+33 282 2922 2022" placeholder="Enter here" required></p>
         <p class="form__group"><label class="form__label form__label_required">City</label><input class="form__input" name="city" value="" placeholder="Enter here" required></p>
         <p class="form__group form__group_half">
            <label class="form__label">State</label>
            <select class="form__select" name="state">
               <option value="" selected="selected">—</option>
               <option value="arizona">Arizona</option>
               <option value="washington">Washington</option>
            </select>
         </p>
         <p class="form__group form__group_half"><label class="form__label">ZIP code</label><input class="form__input" name="zip" value="" placeholder="Enter Here"></p>
         <p class="form__group"><label class="form__label">Card number</label><input class="form__input" name="card" value="" placeholder="Enter Here"></p>
         <p class="form__group"><label class="form__label">Expiration</label><input class="form__input" name="exp" value="" placeholder="Enter Here"></p>
         <p class="form__group"><label class="form__label">Sec code</label><input class="form__input" type="password" name="code" value="" placeholder="Enter Here"></p>
         <p class="form__group"><button class="button button_blue" type="submit">Save</button></p>
      </form>
   </div>
   <!-- Billing information finish -->
</div>
