<% if current_user %>
  <div class="container" id="my_profile">
    <h1 class="title_h1">My dashboard</h1>
    <p class="page-description">Welcome to your dashboard. You can set up your account, check your orders and manage your designs here.</p>

    <div class="columns">
      <!-- Left menu start -->
      <div class="columns__left-menu">
          <%= render "left_menu" %>
      </div>
      <!-- Left menu finish -->

      <!-- Render designs div start-->
      <div id="design-info">
        <%= render 'add_design_button' %>
        <% if @designs.empty? %>
          <p class="button__text"> User has no designs </p>
        <% else %>
          <%= render 'my_designs' %>
        <%end%>
        <%= paginate @designs %>
      </div>
      <!-- Render designs div end -->
    </div>
  </div>
<% end %>
