<form action="" method="get">
  <div class="bar">
    <input class="search-page" type="search" name="search" placeholder="Search...">
  </div>
</form>

<ul class="users-list">
  <li>
    <span class="user-image-wrapper"><%= image_tag "default-user.png", class: "user-image" %>
      <a href="/users/:id"> User 1 </a>
    </span>

  </li>
</ul>
