<!-- Section tittle -->
<h1 class="title_h1_head">About Us</h1>
<!-- Section Icon and small description become -->
<div class="wrapper">
  <center>
     <ul class="become__list">
        <li class="become__item_3">
          <div class="columns__content">
               <h4 class="h_about_us">What is Lumumba?</h4>
               <p class="p_about_us p_about_us_red">Lumumba is a multicultural apparel startup. We believe in a diverse multicultural world. Our mission is simple: Wear the world.<p>
          </div>
        </li>
        <li class="become__item_3">
           <div class="columns__content">
                <h4 class="h_about_us">What is our goal?</h4>
                <p class="p_about_us p_about_us_blue">We aim to create meaningful clothes that connect you with the diferent cultures that inhabit this planet. Every month, we will discover together a new culture and we will release a clothing collection inspired by it.<p>
           </div>
        </li>
        <li class="become__item_3">
           <div class="columns__content">
                <h4 class="h_about_us">How does it work?</h4>
                <p class="p_about_us p_about_us_orange">We work with designers in each of these countries to promote democracy and diversity in the Apperel & Fashion industry. Each month we host an online design competition open to everybody. The winners will be part of the clothing collections and receive part of the profits as well.<p>
           </div>
        </li>
    </ul>
  </center>
</div>

<div class="wrapper">
        <img style="width:25%; margin-right:9%;height:auto;" src="img/alpha_logo.png" />
        <img style="width:25%; margin-right:9%;height:auto;" src="img/fi_tagline_logo-transparent.png" />
        <img style="width:25%; height:auto;" src="img/rails-logo.svg" />
</div>
<!-- End Section Icon and small description become -->