<div class="layout__content">
    <div class="wrapper">
        <h1 class="title_h1">Contact</h1>
        <p class="page-description">We are happy to talk to you. Feel free to contact us by email, WhatsApp or Facebook. We have a WhatsApp channel, you can text us and we'll add you to our Lumumba group</p>
        <!-- Contact start -->
        <div class="contact">
            <form class="form contact__form" action="#">
                <p class="form__group">
                    <input class="form__input form__input_blue" type="text" name="name" placeholder="Enter your name">
                </p>
                <p class="form__group">
                    <input class="form__input form__input_blue" type="email" name="email" placeholder="Enter your email">
                </p>
                <p class="form__group">
                    <textarea class="form__input form__input_blue" name="textarea" rows="5" cols="58" placeholder="Enter your message here"></textarea>
                </p>
                <p class="form__group">
                    <input class="button button_blue" type="submit" value="Send">
                </p>
            </form>
            <div class="contact__info">
                <div class="contact__header">Main Office</div><address class="contact__text">Cloud Coworking<br>Sardenya 229<br>Barcelona, Spain<br><br>+34 629 075 292</address>
                <div class="contact__header">Connect with Lumumba</div>
                <div class="contact__social"><a class="contact__social-link" href="https://www.facebook.com/XXX" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i> </a><a class="contact__social-link" href="https://twitter.com/XXX" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> </a><a class="contact__social-link" href="https://plus.google.com/XXX" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i> </a><a class="contact__social-link" href="https://pinterest.com/XXX" target="_blank"><i class="fa fa-pinterest-p" aria-hidden="true"></i> </a><a class="contact__social-link" href="https://www.instagram.com/XXX" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></div>
            </div>
        </div>
        <!-- Contact finish -->
    </div>
</div>