<!-- Section tittle -->
<h1 class="title_h1_head">Design Guide</h1>

<h4 class="links_guide"><a href="#step1">1. WHO CAN BE PART OF THE COMPETITION?</a></h4>
<h4 class="links_guide"><a href="#step2">2. HOW DOES IT WORK?</a></h4>
<h4 class="links_guide"><a href="#step3">3. WHAT DO I HAVE TO DELIVER TO COMPETE?</a></h4>
<h4 class="links_guide"><a href="#step4">4. WHAT DO I HAVE TO DESIGN AND FOR WHOM? FOR WHICH SEASON?</a></h4>
<h4 class="links_guide"><a href="#step5">5. WHAT MATERIALS CAN I USE?</a></h4>
<h4 class="links_guide"><a href="#step6">6. WHAT ARE THE DATES?</a></h4>
<h4 class="links_guide"><a href="#step7">7. WHAT IS THE PRIZE?</a></h4>
<!-- End Section tittle -->

<div class="wrapper">
  <h1 id="step1" class="title_h1_guide">1. WHO CAN BE PART OF THE COMPETITION?</h1>

  <p class="paragraph_guide paragraph_orange">Everybody in the world! You just need to present the designs in digital format or as pictures with a model and prototype.</p>

  <h1 id="step2" class="title_h1_guide">2. HOW DOES IT WORK?</h1>
  <p class="paragraph_guide paragraph_red">Welcome to the Lumumba tribe. Each month of the year we select a different culture from the world and we will host an online design competition. The competition will follow the monthly cultural theme. We will write stories about it, publish pictures, videos and such, so you can learn about it and get inspiration.
    <br />
      You can visit <a href="theme.html">Theme page</a> on the website where you can find information describing the culture and theme of the competition. Inside your profile, you can upload designs anytime you want. Designs can be edited, uploaded to the competition and much more through your profile. Imagine as if you have your own Lumumba portfolio.
    <br />
      We want you to be part of the community and join us on this journey. If you want to win the competition, you will need to obtain the most votes. So feel free to ask your friends and family to vote for you. We want to promote local talent around the world, this is an opportunity for you to start spreading your designs and ideas internationally.
  </p>

  <h1 id="step3" class="title_h1_guide">3. WHAT DO I HAVE TO DELIVER TO COMPETE? </h1>
  <p class="paragraph_guide paragraph_blue">An outfit for women consisting of three pieces of garment. You will have to upload 5 JPG file and describe your inspiration for each design. You also have the option to upload the Technical Sheet.
    <br />
    Optional: You can prototype the garments and send pictures with models (ask your friends!). The better the presentation is, the better the response will be from the Lumumba tribe.
  </p>

  <h1 id="step4" class="title_h1_guide">4. WHAT DO I HAVE TO DESIGN AND FOR WHOM? FOR WHICH SEASON?</h1>

  <p class="paragraph_guide paragraph_orange">We would like the clothes to be street, modern and urban, so anybody in any city can wear them on a daily basis. The clothing collection made by the competition's winner will be released 2-3 months after the end of the competition. You should take into account the seasonality (Spring - Summer - Autumn - Winter). This means, if the competition is held in December, the clothing collection will be released during February, which is late Winter - early Spring.</p>

  <h1 id="step5" class="title_h1_guide">5. WHAT MATERIALS CAN I USE?</h1>

  <p class="paragraph_guide paragraph_red">We will produce the garments under your specifications. Try to use common materials so that the final garment can be the same as your designs. We can use digital printing, embroidery and other basic techniques. Avoid metal, mirror and hand-made materials with difficult applications.  </p>

  <h1 id="step6" class="title_h1_guide">6. WHAT ARE THE DATES?</h1>

  <p class="paragraph_guide paragraph_blue">Each competition lasts a complete month, from January to December. We open a total of 12 competitions each year inspired by 12 different cultures.</p>

  <h1 id="step7"class="title_h1_guide">7. WHAT IS THE PRIZE?</h1>

  <div class="paragraph_guide paragraph_orange">
    <ul>
      <li class="li_guide">
        10% of the net income (Revenue of your clothes - Cost of your clothes). The winners will be showcased on the platform and our social media profiles.
      </li>
      <li class="li_guide">
        We will interview them and create content with their ideas. They will also be invited to publish content on the platform.
      </li>
      <li class="li_guide">
        The clothes will be sold internationally and the label will feature your name like this: "Your Name x Lumumba".
      </li>
    </ul>
  </div>

  <center>
    <a href="/designs" class="button button_orange">
        <div class="button__text">Get Started</div>
    </a>
  </center>
</div>
