<!-- Delivery information start -->
<form class="form"  action="#" method="post" accept-charset="utf-8">
    <div class="input-w">
      <label for="#email">Email address</label>
      <input type="email" name="" value="" placeholder="E.g. email@example.com" required id="email" />
    </div>

    <div class="input-w">
      <label for="#name">Name</label>
      <input type="text"  name="" value="" placeholder="E.g John Steward" required id="name" />
    </div>

    <div class="input-w">
      <label for="#surname">Surname</label>
      <input type="text"  name="" value="" placeholder="E.g John Steward" required id="surname" />
    </div>

    <div class="input-w">
      <label for="#adress">Street, housenumber</label>
      <input type="text" name="" value="" placeholder="E.g. Long, Lane 81" required id="adress" />
    </div>

    <div class="input-w">
      <label for="#country">Country</label>
      <input type="text" name="" value="" placeholder="United States" required id="country" />
    </div>

    <div class="input-w">
      <label for="#zip">ZIP</label>
      <input type="text" name="" value="" placeholder="E.g. 723819" required id="zip" />
    </div>

    <div class="input-w">
      <label for="#city">City</label>
      <input type="text" name="" value="" placeholder="E.g. New York City" required id="city" />
    </div>

    <div class="input-w">
      <label for="#phone">Telephone Number</label>
      <input type="text" name="" value="" placeholder="E.g. 06 123 456 78" required id="phone" />
    </div>
</form>

<h1 class="title_h1_checkout">billing address</h1>

<h4> Coming Soon </h4>

<h1 class="title_h1_checkout">Shipping method</h1>

<h4> Coming Soon </h4>