<!-- Section tittle -->
  <h1 class="title_h1">Thank you for ordering at lumumba</h1>
<!-- End Section tittle -->
<!-- Section Icon and small description become -->
   <div class="wrapper">
      <center>
         <ul class="become__list">
            <li class="become__item_1">
               <div class="columns__content">
                    <%= image_tag 'welcome.svg' %>
                    <h4 class="h_become_2"> Share your buy </h4>
                    <p class="p_become_1">Thank you for ordering at Lumumba. Share your order with your friends or back to our website. Hope to see you soon.<p>
               </div>
            </li>
         </ul>
         <a id="floatRight" class="shareButtons" href="users/auth/facebook" >
           <div class="button-social2 facebook">
             <i class="fa fa-facebook" aria-hidden="true"></i> <spam class="social-text">Sign up using facebook</spam>
           </div>
         </a>
         <a href="/" id="floatLeft" class="shareButtons" href="#" >
           <div class="button-social2 web">
             <i class="fa fa-arrow-left" aria-hidden="true"></i> <spam class="social-text">Go back to Lumumba</spam>
           </div>
         </a>
    </center>
  </div>
<!-- End Section Icon and small description become -->